# Data structures, reading in data, generating data, linear model

## Tuples

In [ ]:
tup1 = 4,5,6
tup1

In [ ]:
tup2 = (4,5,6), (7,8)
tup2

In [ ]:
tuple([4,5,6])

In [ ]:
tuple('string')

In [ ]:
tup1

In [ ]:
tup1[0]

In [ ]:
tup1[0] = 9

In [ ]:
tup2

In [ ]:
tup2[0]

In [ ]:
tup2[0].append(100)

In [ ]:
tup3 = tuple(['cheese', [2,3,4], True])
tup3

In [ ]:
tup3[1].append(100)
tup3

In [ ]:
tup3[1][0] = 111
tup3

In [ ]:
## concatenate tuples
(1,2,3) + (4,5,6) + ('bar', )

In [ ]:
("cheese", "toast") * 3

In [ ]:
## unpacking tuples
tup = (1,2,3)
a,b,c = tup
b

In [ ]:
seq1 = [(1,2,3), (4,5,6), (7,8,9)]

for a,b,c in seq1:
    print('a={0},b={1},c={2}'.format(a,b,c))

In [ ]:
for a,b,c in seq1:
    print('a=[0],b=[1],c=[2]'.format(a,b,c))

In [ ]:
## subsetting
tup4 = 1,2,3,4,4,4,5,5,6
a,b,*otherstuff = tup4

print(a,b)
print(otherstuff)

In [ ]:
## tuple methods

tup4.count(5)

## Lists

In [ ]:
lst1 = [2,4,6,8, None]
lst1

In [ ]:
tup1 = ('foo', 'bar', 'baz')
lst2 = list(tup1)
lst2

In [ ]:
lst2[0] = "cheese"
lst2

In [ ]:
#range
lst3 = range(10)
lst3

In [ ]:
list(lst3)

In [ ]:
#append
lst4 = [4,5,6,7,8]
print(lst4)
lst4.append("toad")
print(lst4)

In [ ]:
#list comprehension
[type(i) for i in lst4]

In [ ]:
#list comprehension
str1 = ["a","b","cat","dog"]
[i.upper() for i in str1 if len(i) > 2]

In [ ]:
#for loop
for i in lst4:
    print(type(i))

In [ ]:
#insert into position
lst4.insert(5, 9)

In [ ]:
#pop
lst4.pop(1)

In [ ]:
#append
lst4.append(10)
lst4

In [ ]:
#remove
lst4.remove('toad')
lst4

In [ ]:
#in
9 in lst4

In [ ]:
#not in
9 not in lst4

In [ ]:
#concatenate
lst5 = [1,2,3]
lst6 = [100]
lst5 + lst6

In [ ]:
#extend (cheaper)
lst6.extend(lst5)
lst6

In [ ]:
tup1 = 100, 101, 102

In [ ]:
lst6.extend(tup1)
lst6

In [ ]:
#sort
lst7 = [7,2,5,1,3,3]
lst7.sort()
lst7

In [ ]:
#sort with len()
lst8 = ["a", "kind", "cow"]
lst8.sort(key=len)
lst8

In [ ]:
#bisect
import bisect
lst9 = [1,2,2,2,3,4,7]
bisect.insort(lst9, 5)
lst9

In [ ]:
#slicing
lst10 = range(10)
lst10 = list(lst10)
lst10

In [ ]:
print(lst10[0:2])
print(lst10[5:])
print(lst10[-3:-1])

In [ ]:
#step
print(lst10[::2])
print(lst10[::-1])

In [ ]:
#sorted (original stays same)
lst11 = [4,2,5,6,8,7]
print(sorted(lst11))
print(lst11)

In [ ]:
#enumerate
lst12 = ["rob", "jane", "jacky"]
mapping1 = {}
for i, v in enumerate(lst12):
    mapping1[v] = i
    
mapping1

In [ ]:
#zip
lst12 = ["rob", "jane", "jacky"]
lst13 = ["one","two","three"]

for i, (a, b) in enumerate(zip(lst12, lst13)):
    print('{0}: {1}, {2}'.format(i, a, b))

## Dictionaries

In [239]:
#hash map or associative array; key, value objects
dict1 = {'a': 'some value', 'b': [1,2,3,4]}
dict1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
list(dict1.values())

In [ ]:
list(dict1.keys())

In [ ]:
dict1['c'] = 100
print(dict1)

In [ ]:
#in
'b' in dict1

In [ ]:
#del, pop
dict2 = {'a':1, 'b':2, 'c':[3,4,5]}
print(dict2)

#del
del dict2['a']
print(dict2)

#pop
dict2.pop('c')
print(dict2)

## Sets

In [ ]:
set([2,2,2,1,3,3])

In [ ]:
#union
set1 = {1,2,2,3,3,4,5}
set2 = {5,6,7}
set1.union(set2)

In [ ]:
#intersections
set1.intersection(set2)

In [ ]:
set1.issubset(set2)

## Random

In [ ]:
import random
ran1 = list()
for i in range(100):
    ran1.append(random.randint(0,1))
    
print(ran1)

## Pandas

In [ ]:
import pandas as pd
#import Series and DataFrame into local namespace
from pandas import Series, DataFrame

### Series

In [ ]:
#index
obj1 = pd.Series([2,5,3,-1])
print(obj1)
print(obj1[3])
print(obj1[obj1 > 0])

In [ ]:
#values, indices
print(obj1.values)
print(list(obj1.index))

### DataFrames

In [ ]:
#row and column indices, two or more dimensions
data = {'state': ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'], 
        'year' : [2000,2001,2002,2001,2002,2003], 
        'pop'  : [1.5,1.7,3.6,2.4,2.9,3.2]} 

frame1 = pd.DataFrame(data)
frame1

In [ ]:
#head()
frame1.head()

In [ ]:
#slicing, dicing
#select column
frame1['year']

In [ ]:
#select row
frame1.loc[3]

In [ ]:
frame1.loc[3]

In [ ]:
#add column
frame1["size"] = [101,101,101,110,110,110]
frame1