## Preliminaries

1. If doesn't exist, create virtual environment
    In terminal:
    $ python3 -m venv myvenv
    $ source myvenv/bin/activate
    $ pip install wheel
    $ pip install ipykernel
    $ ipython kernel install --user  --name myvenv --display-name "My python (myenv)"
2. Clone CookieCutter if doesn exist
    In terminal at top level of folder structure (so not within another folder)
    $ git clone https://github.com/powell001/CookieCutter.git
3. Rename CookieCutter to Session_2

In [12]:
import pandas as pd
from IPython.display import Image

## Goals

### Merging

In [22]:
# Image(filename='sqlJoins.png')

!pwd

/home/jeff001

In [6]:
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'], 'data1':range(7)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [9]:
df2 = pd.DataFrame({'key': ['a','b','d'], 'data2': range(3)})
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [ ]:
df1.merge(df2)